#previewPane {
    border: 0;
    height: 600px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#galleryContainer {
    height: 202px;
    border: 0px solid #CCCCCC;
    position: relative;
    overflow: hidden;
    padding: 5px;
    height: 200px;
}