/* CSS Document */

body {
    margin: 0px;
    background-repeat: repeat-x;
    background-position: top;
    background-color: #FFF;
}

.screen {
    background-color: #EEE;
}

.menu {
    background-color: #CCC;
    line-height: 40px;

    &:selected {
        border-bottom: 10px solid aqua;
    }

    &:hover {
        background: gray;
    }
}

.my-menu {
    margin: 0 10px;

}

.myname {
    alignment-adjust:central;
    font-size:25px;
    font-family:"Times New Roman", Times, serif;
    color: #FFF;
}

.occupation {
    alignment-adjust:central;
    font-size:18px;
    font-weight: bold;
    font-family:"Times New Roman", Times, serif;
    color: #000;
}

.professional {
    color: #8000FF;
    font-size:36px;
    font-weight:bold;
}

.myheading1 {
    color:#357ACE;
    font-size:24px;
    font-weight:bold;
}

.email {
    font-size:18px;
}

.phone {
    font-size:18px;
}

a {
    border-color:#FFF;
}

.underconstruction {
    color: #800000;
    font-size: 50px;
    font-weight:bold;
}

.help {
    color: #F00;
    font-size: 20px;
    font-weight:bold;
}

.copyright {
    color: #666;
    font-size: 15px;
    marquee-direction: reverse;
    marquee-style:scroll;
}
